<div class="container">
    <div class="row">
        <div class=" card screen-action row w-100 py-2 ">
            <div class="col-10 px-3">
                <label for="Search" class="control-label">Search</label>
                <input type="text" (keyup)="search()" class="form-control" id="Search" name="Search" [(ngModel)]="SearchVal">
            </div>
            <div class="col-2 js-dt-tbl-length">

            </div>


        </div>

        <div class="col-12">
            <button (click)="Add()" type="button" class="btn btn-outline-primary float-right"> Add New </button>
        </div>

        <div class="card col-12 py-2" [class.ngHide]="searchCriteria.isPageLoad">
            <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered w-100" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>country</th>
                        <th>Address</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody *ngIf="PaggedData ?.length != 0">
                    <tr *ngFor="let partner of PaggedData">
                        <td>{{ partner.id }}</td>
                        <td>{{ partner.name }}</td>
                        <td>{{ partner.country }}</td>
                        <td>{{ partner._address }}</td>
                        <td>


                            <div class="btn-group mt-2" role="group">

                                <button type="button" (click)="Edit(partner.id || 0)" class="btn btn-outline-primary">
                  <i class="fa fa-edit"></i>
                </button>
                                <button type="button" (click)="Delete(partner.id || 0)" class="btn btn-outline-danger">
                  <i class="fa fa-trash-alt"></i>
                </button>
                            </div>

                    </tr>
                </tbody>
                <tbody *ngIf="PaggedData?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data! {{PaggedData.length}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>






<!-- <h1>Angular 11 Datatables Example - Tutsmake.com</h1>
<table datatable [dtOptions]="dtOptions" class="row-border hover w-100">
  <thead>
      <tr>
          <th>ID</th>
          <th>name</th>
          <th>price</th>
          <th>mass</th>
          <th>numberInStock</th>


      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let partner of partners">
          <td>{{ partner.id }}</td>
          <td>{{ partner.name }}</td>
          <td>{{ partner.price }}</td>
          <td>{{ partner.massStr }}</td>
          <td>{{ partner.numberInStock }}</td>


      </tr>
  </tbody>
</table> -->